tradfri_flow.json
[{"id":"c11241df1ae3fed6","type":"server-events","z":"9adb2e09136daf8e","name":"ZHA event","server":"3564b4f4.bc19cc","version":2,"eventType":"zha_event","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"str"}],"x":840,"y":440,"wires":[["0ba8d3d9fd249509"]]},{"id":"d8209466200c3025","type":"switch","z":"9adb2e09136daf8e","name":"Tradfri 5 Button","property":"payload.event.command","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"press\" and msg.payload.event.args[0] = 256","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"press\" and msg.payload.event.args[0] = 257","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"step_with_on_off\" and msg.payload.event.args[0] = 0","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"step\" and msg.payload.event.args[0] = 1","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"move_with_on_off\" and msg.payload.event.args[0] = 0","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"move\" and msg.payload.event.args[0] = 1","vt":"jsonata"},{"t":"eq","v":"stop","vt":"str"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"hold\" and msg.payload.event.args[0] = 3328","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.event.command = \"hold\" and msg.payload.event.args[0] = 3329","vt":"jsonata"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":1260,"y":440,"wires":[[],[],[],[],[],[],[],[],[],[],[]],"outputLabels":["Middle","Right","Left","Up","Down","Holding Up - Start","Holding Down - Start","Stop holding Up/Down","Holding Right - Start","Holding Left - Start","Release Left/Right"]},{"id":"0ba8d3d9fd249509","type":"switch","z":"9adb2e09136daf8e","name":"Insert your IEEE here","property":"payload.event.device_ieee","propertyType":"msg","rules":[{"t":"eq","v":"xx:xx:xx:xx:xx:xx:xx:xx","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":440,"wires":[["d8209466200c3025"]],"outputLabels":["Ben's Remote"]},{"id":"3564b4f4.bc19cc","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]